html {
    font-size: 20px;
    line-height: 1.5;
}

body {
    background-color: #222;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15px;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

a {
    color: #87CEFA;
}

a:visited {
    color: #B0C4DE;
}

a:hover,
a:active {
    color: #D3D3D3;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

th,
td {
    border: 1px solid #D3D3D3;
    padding: 0.5rem;
    text-align: center;
}

caption {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}